body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------- PARTICLES JS ------------ */
.tsparticles-canvas-el {
  position: absolute;
  height: 40%;
  width: 100vw;
  z-index: 1 !important;
  /* border-bottom: thick solid red; */
}

#pic {
  width: 200px;
  height: 200px;
  background-image: url('./img/pic.JPG');
  background-position: center;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.menu {
  z-index: 2 !important;
  border-bottom: 2px solid springgreen;
}

.heading {
  background: url('./img/pattern.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
}

.resume {
  background: url('./img/file.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
}

.date {
  color: rgb(39, 39, 39);
}
